<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="operation.css"><script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <title>Checklist</title>
</head>
<body>

    <div id="app">
        <div class="container">
            <header><h1>{{title}}</h1></header>
           
            <task @task_done="delete_task(index)" :key="index" v-for="(data,index) in tasks" :data="data" ></task> 
              
            <div class="add_task">
      
                <div class="add_task__input ">
                    <input placeholder="Описание" type="text" v-model="new_task.desc"></input>
                </div>
                <button class="add_task__btn" @click="add_task">Добавить</button>
                
                 
             
            </div>

            
               
            

        </div>
    </div>
    
    
        

    <script src="operation.js"></script>
 






</body>