#app{
    width: 320px;
    box-shadow: 0 3px 20px #00000023;
    font-family: 'Gilroy', sans-serif;
    padding: 10px;
    margin: 20px 0 0 20px;
    color: var(--main);
  }
  .task {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: -10px -10px 10px -10px;
    padding: 10px;
    max-width: 100%;
  }
  .add_task {
    display: flex;
    
  }
  * {
    padding: 0;
    margin: 0;
    transition: all 0.3s;
  }
  .done span {
	text-decoration: line-through;
	color: gray;
}